<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocket Data</title>
    <link rel="stylesheet" href="{% static 'add_mess.css' %}">
</head>
<body>

    <!-- Sidebar -->
    <nav class="sidebar">
        <ul>
            <li><a href="home"><img src="static/img/home.png" alt=""></a></li>
            <li><a href="documents/"><img src="static/img/documents.png" alt=""></a></li>
            <li><a href="images/"><img src="static/img/image2.png" alt=""></a></li>
            <li><a href="messages/"><img src="static/img/message.png" alt=""></a></li>
            <li><a href="logout"><img src="static/img/logout.png" alt=""></a></li>
        </ul>
    </nav>





    {% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>
{% endblock %}
</body>
</html>