<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded Images</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'imagelist.css' %}">
    <link rel="stylesheet" href="{% static 'nav.css' %}">
</head>

<body>


    <nav class="sidebar">
        <ul>
           
            <!-- <li>
                {% for i in data %}
                <h1>{{i.first_name}}</h1>
                {% endfor %}
            </li>
            -->
            <li><a href="../home"><img src="../static/img/home.png" alt=""></a></li>
            <li><a href="../add_doc"><img src="../static/img/add.png" alt=""></a></li>
            <li><a href="../add_img"><img src="../static/img/image.png" alt=""></a></li>
            <li><a href="../add_mes"><img src="../static/img/comment.png" alt=""></a></li>
            <li><a href="../documents/"><img src="../static/img/documents.png" alt=""></a></li>
            <li><a href="../images/"><img src="../static/img/image2.png" alt=""></a></li>
            <li><a href="../messages/"><img src="../static/img/message.png" alt=""></a></li>
            <li><a href="../logout"><img src="../static/img/logout.png" alt=""></a></li>
        </ul>
    </nav>


    <div class="container mt-4">
        <h2>Uploaded Images</h2>

        {% if images %}
            <div class="row">
                {% for image in images %}
                    <div class="col-md-3 mb-4">
                        <div class="card">
                            <a href="{{ image.image.url }}">
                                <img src="{{ image.image.url }}" alt="{{ image.title }}" class="card-img-top" style="object-fit: cover; height: 200px;">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ image.title }}</h5>
                            </div>
                            <a href="../img_delete/{{image.pk}}">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No images uploaded.</p>
        {% endif %}
    </div>
</body>

</html>
